body {
    color: rgb(121, 65, 150);
}

.bg-image {
    background-image: url('../images/bg-imageMessage.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    height: 100vh;
}   

.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1px solid black;
    color: black;
    font-weight: 700;
    border-radius: 0;
}

#message {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: small;
}

.errors {
    border: 2px solid red !important;
}

/*-------------------------- Style page-login ----------------------------*/

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center ;
    height: 150px;
}

#form-login .row {
    height: 100%;
}

#form-login .row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-default {
    color: rgb(121, 65, 150);
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.829);
}

.div-login {    
    width: 500px;
    padding: 20px 20px 0px 20px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.829);
}

/*-------------------------- Style page-messages ----------------------------*/

#div-messages {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 10px;
}

#div-messages header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-messages {
    display: flex;
    margin-bottom: 30px;
}

.inputs-messages .row {
    margin: 0;
    width: 100%;
}

#button-save {
    padding: 0;
    height: 100%;
    width: 80px;
}

.table {
    color: rgb(121, 121, 121);
    font-weight: 700;
    background-color: rgba(59, 30, 97, 0.836);  
    word-wrap: break-word;
    table-layout: fixed;
    font-size: max(10px, 1.2vw);
}

.table input {
    font-size: min(15px, 2.5vw);
    padding: 3px;
}

#description {
    width: 30%; 
}

#detailing {
    width: 50%;
}