    h1 {
        color: rgb(121, 65, 150);
    }

.bg-image {
    background-image: url('../images/bg-imageMessage.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    height: 100vh;
}   

.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-style {    
    width: 500px;
    padding: 20px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.829);
}

.div-style header h1{   
    text-align: center;
    font-size: x-large;
}

.btn {
    border: 1px solid black;
    color: black;
    font-weight: 700;
    border-radius: 0;
}

#message {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: small;
}

.errors {
    border: 2px solid red !important;
}

/*-------------------------- Style page-login ----------------------------*/

#form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    height: 150px;
}

#inputs-login {
    display: flex;
    justify-content: space-between;
}

#inputs-login input{
    width: 49%;
}

/*-------------------------- Style index ----------------------------*/

.inputs-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.inputs-register span {
    color: red;
    display: none;
}

.inputs-register input:invalid + span {
    display: inline;
}

/*-------------------------- Style page-messages ----------------------------*/

#div-messages {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 10px;
}

#div-messages header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-messages {
    display: flex;
    margin-bottom: 30px;
}

.inputs-messages input {
    width: 500px; 
    border: 1px solid;
}

#button-save {
    width: 100px;
}

.table {
    color: rgb(121, 121, 121);
    font-weight: 700;
    background-color: rgba(59, 30, 97, 0.836);  
    table-layout: fixed;
    word-wrap: break-word;
    min-width: 300px;
}

.table input {
    width: 80px;
}

#descrition {
    width: 30%;
}

#detailing {
    width: 50%;
}

@media (max-width: 700px) {
    .inputs-messages {
        display: flex;
        margin-bottom: 30px;    
        flex-wrap: wrap;
    }

    #descrition {
        width: 30%;
    }
    
    #detailing {
        width: 40%;
    }

    .table input {
        width: 70px;
        padding: 8px;
    }
}